.score-wrapper {
    align-items: center;
    border-bottom: 1px dashed var(--text-fg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1rem;
}

.score-wrapper h3 {
    font-size: 1rem;
    margin: 0;
}

.score-wrapper span {
    font-size: 4rem;
}
