.chances-left-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1rem;
}

.chances-left-wrapper h3 {
    color: var(--text-fg);
    font-size: 1rem;
    margin: 0;
}

.chances-left-wrapper span {
    font-size: 4rem;
}
