.status-wrapper {
    background-color: var(--text-bg);
    border: 1px solid var(--text-fg);
    border-radius: 0 5px 5px 0;
    display: flex;
    flex-basis: 200px;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: space-evenly;
    padding: 1rem;
}

.status-wrapper hr {
    border: 0;
    border-bottom: 1px dashed var(--text-fg);
    width: 100%;
}

.status-wrapper span {
    color: var(--text-fg);
}
